/* basic settings */
.Agenda { 
	-fx-skin: "jfxtras.internal.scene.control.skin.agenda.AgendaWeekSkin";
}

.AgendaWeekSkin { 
}

.AgendaWeekSkin .Week {
	-fx-background-color: WHITE;
}

.AgendaWeekSkin .HourLabel {
	-fx-fill: BLACK;
	-fx-stroke: transparent;
}

.AgendaWeekSkin .HourLine {
	-fx-fill: transparent;
	-fx-stroke: LIGHTGRAY;
}

.AgendaWeekSkin .HalfHourLine {
	-fx-fill: transparent;
	-fx-stroke: LIGHTGRAY;
	-fx-stroke-dash-array: 4 4 4 4;
}

.AgendaWeekSkin .DayHeader {
	-fx-border-color:LIGHTGRAY;
	-fx-border-width: 0px 0px 0px 1px;
}

.AgendaWeekSkin .DayHeader .weekend { 
	-fx-text-fill: BLACK;
	-fx-font-weight: bold;
}

.AgendaWeekSkin .Day {
	-fx-fill: transparent;
	-fx-stroke: transparent;
	-fx-border-color:LIGHTGRAY;
	-fx-border-width: 0px 0px 0px 1px;
}

.AgendaWeekSkin .weekend {
	-fx-background-color: #eeeeee90;
}

/* TODO: for some reason this does not work: removing today from the style classes does not clear the grayish background 
.AgendaWeekSkin .today {
	-fx-background-color: #eeeeee90;
}
*/

.AgendaWeekSkin .Appointment {
	-fx-border-color: WHITE;
	-fx-border-width: 1px;
}

.AgendaWeekSkin .AppointmentTimeLabel {
	-fx-fill: BLACK;
	-fx-stroke: transparent;
	-fx-font-size: 0.8em;
}

.AgendaWeekSkin .AppointmentLabel {
	-fx-fill: BLACK;
	-fx-stroke: transparent;
}

.group0 { -fx-background-color: #AC725E; }
.group1 { -fx-background-color: #D06B64; }
.group2 { -fx-background-color: #F83A22; }
.group3 { -fx-background-color: #FA573C; }
.group4 { -fx-background-color: #FF7537; }
.group5 { -fx-background-color: #FFAD46; }
.group6 { -fx-background-color: #42D692; }
.group7 { -fx-background-color: #16A765; }
.group8 { -fx-background-color: #7BD148; }
.group9 { -fx-background-color: #B3DC6C; }
.group10 { -fx-background-color: #FBE983; }
.group11 { -fx-background-color: #FAD165; }
.group12 { -fx-background-color: #92E1C0; }
.group13 { -fx-background-color: #9FE1E7; }
.group14 { -fx-background-color: #9FC6E7; }
.group15 { -fx-background-color: #4986E7; }
.group16 { -fx-background-color: #9A9CFF; }
.group17 { -fx-background-color: #B99AFF; }
.group18 { -fx-background-color: #C2C2C2; }
.group19 { -fx-background-color: #CABDBF; }
.group20 { -fx-background-color: #CCA6AC; }
.group21 { -fx-background-color: #F691B2; }
.group22 { -fx-background-color: #CD74E6; }
.group23 { -fx-background-color: #A47AE2; }

/* same colors as the bar chart
.group0 { -fx-background-color: #f9d900; }
.group1 { -fx-background-color: #a9e200; }
.group2 { -fx-background-color: #22bad9; }
.group3 { -fx-background-color: #0181e2; }
.group4 { -fx-background-color: #2f357f; }
.group5 { -fx-background-color: #860061; }
.group6 { -fx-background-color: #c62b00; }
.group7 { -fx-background-color: #ff5700; } 
 */
 
.AgendaWeekSkin .DurationDragger {
	-fx-fill: #00000040;	
}

.AgendaWeekSkin .MenuIcon {
	-fx-fill: #00000040;	
}

.AgendaWeekSkin .GhostRectangle {
	-fx-fill: transparent;
	-fx-stroke: #00000080;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 4 4 4 4;
}

.AgendaWeekSkin .Selected { 
	-xfx-color: -fx-focused-base;
	-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 6.4, 5, 4, 3;
}

.AgendaWeekSkin .Now {
	-fx-fill: #FF000088;
	-fx-stroke: WHITE;
}
.AgendaWeekSkin .History {
	-fx-stroke: transparent;
	-fx-fill: #FFFFFF70;
}

.AgendaPopup {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
	-fx-background-insets: 0 0 -1 0,0,1,2;
	-fx-background-radius: 5,5,4,3;
	-fx-padding: 0.766667em 0.733333em 0.75em 0.733333em;
	-fx-text-fill: -fx-text-base-color;
}

/* empty block causes an IndexOutOfBoundsException
.AgendaPopup .AppointmentGroups {
}
*/

.AgendaPopup .AppointmentGroup {
	-fx-border-color: WHITE;
	-fx-border-width: 1px;
}

.AgendaPopup .close-icon  {
    -fx-image: url("AgendaWeekSkinPopupCloseWindowIcon.png");
}

.AgendaPopup .delete-icon  {
    -fx-image: url("AgendaWeekSkinDeleteIcon.png");
}
